BasedOnStyle: LLVM
IndentWidth: 2
TabWidth: 2
UseTab: Never

BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: Empty
AllowShortBlocksOnASingleLine: Never

ColumnLimit: 100
PointerAlignment: Right

ConstructorInitializerAllOnOneLineOrOnePerLine: true
AllowAllConstructorInitializersOnNextLine: true
BreakConstructorInitializersBeforeComma: false
